@import 'variables';

.card.card-course-item {
    margin-top: 16px;
}

.card-body a {
    color: #000;
}

.user-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 4px;
}
